{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 80,
	"tabWidth": 2,
	"arrowParens": "always",
	"endOfLine": "lf",
	"semi": true,
	"bracketSpacing": true,
	"quoteProps": "preserve"
}
